# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe
appsettings.Development.json
*.log

# Database
*.db
*.db-shm
*.db-wal

# Angular
node_modules/
dist/
.angular/
*.tgz

# IDE
.vs/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
